@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    justify-content: justify;
    background-color: hsl(47, 88%, 63%);
}

img {
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

main {
    text-align: left;
}

main {
    margin: auto;
    align-items: center;
    background-color: white;
    padding: 100px;
    height: 600px;
    width: 400px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

main {
    margin-top: 150px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 3px black  ;
    border-style: solid;
    border-width: 2px;
}

.p1 {
    color: hsl(0, 0%, 50%);
}

.p2 {
    display: block;
    font-weight: 800;
}

.p3 {
    color: black;
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
}

.p3 {
    font-weight: 800;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 25px;
}

.p2 {
    margin: auto;
}

.aa {
    display: flex;
    margin-top: 70px;
    margin-right: 175px;
}





